/backups
/auto-save-list
/elpa
/transient
/themes
/org
/var
bookmarks
places
projectile.cache
projectile-bookmarks.eld
recentf
network-security.data
.last-package-update-day
.mbsyncrc
.mbsyncpass.gpg
*~
\#*
